<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.CardMapper">
	
	<insert id="addCard">
		INSERT into pokemon_card_p1 (pokemon,grade,attack,defense) values (#{pokemon},#{grade},#{attack},#{defense})	
	</insert>
	
	<select id="getMyCards" resultType="com.project.dto.CardDto">
		SELECT * from pokemon_card_p1
	</select>
	
	<insert id="partyAdd">
		INSERT into pokemon_card_p1_party(pokemon,grade,attack,defense) values (#{pokemon},#{grade},#{attack},#{defense})
	</insert>
	
	<select id="getMyParty" resultType="com.project.dto.CardDto">
		SELECT * from pokemon_card_p1_party
	</select>
	
	<delete id="clearParty">
		truncate pokemon_card_p1_party
	</delete>
	
	<delete id="clearCardList">
		truncate pokemon_card_p1
	</delete>
	
</mapper>	
